This is an example description.

You need to provide any params that your description may need in the JSON file
used to load the tickets. These will be available via the
{{ `\\{\\{ .Params \\}\\}` }} field in the template. Each param can then be
accessed like so:

{{ `\\{\\{ index .Params "my-param" \\}\\}` }}

All JIRA markup options are _available_, but note that since some JIRA
formatting relies on the {{ "\\{" }} and {{ "\\}" }} characters, which are
significant to the Golang templating package, you will need to escape these to
use them. This can be done using either the "string constant" or "raw string
constant" directives in the templating language. For more details, see
{{ "[the documentation|https://godoc.org/text/template#hdr-Examples]" }}.

By default, you will have access to the epic this issue is being linked to in
the params, along with the project. For example:

This issue was created in the {{ .Project }} project. For more details, see
{{ index .Params "epic" }}.
